
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* #region Footer styles */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.85em;
    height: 60px;
}
/* #endregion */

/* #region custom Kendo UI styles */
h1 {
    margin: 0;
    font-size: 32px;
    font-weight: lighter;
    color: #fff;
}

h2 {
    font-size: 30px;
    font-weight: lighter;
}

.placeholders {
    margin: 30px auto;
}

.placeholder img {
    display: inline-block;
}

p .k-button {
    margin: 0 15px 0 0;
}

#configure {
    display: none;
}

p .k-button {
    margin: 0 15px 0 0;
}

#responsive-panel {
    padding: 0;
}

#responsive-panel .k-menu {
    padding: .5rem;
}

.col-form-label
{
    font-weight:600;
    text-align:left;
}

.smartShortText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    -o-text-overflow: ellipsis;
}

.page-header {
    border-bottom: 1px solid #D3D3D3;
    font-family: 'Segoe UI';
    font-size: x-large;
    padding-bottom: 6px;
}

.display-label {
    max-height: 20px;
    background-color:#EEE;
    min-width:300px;
}

.control-label {
    font-family: 'Segoe UI';
    white-space: pre-line;
}

.tooltip2 {
    position: relative;
    display: inline-block;
}

.tooltip2 .tooltip2text {
    visibility: hidden;
    width: 220px;
    background-color: #005ce6;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -100px;
}

.tooltip2 .tooltip2text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #005ce6 transparent;
}

.tooltip2:hover .tooltip2text {
    visibility: visible;
}

/* #endregion */

@media (max-width: 767px) {
    #responsive-panel {
        transition: all linear .2s;
    }

    #configure {
        display: block;
        float: right;
    }

    .k-rpanel {
        padding: 0 1rem;
    }

    .k-rpanel-expanded {
        padding: .5rem 1rem;
    }

    .navbar-header {
        width: 100%;
    }

    .k-menu .k-item,
    .k-menu .k-link {
        width: 100%;
    }

    .k-menu .k-link {
        box-sizing: border-box;
    }
}

