
@{
    ViewBag.Title = "Εκπαιδευτικοί";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<style>
    p.serif {
        font-family: "Times New Roman", Times, serif;
        font-size: 14px;
    }

    p.sansserif {
        font-family: "Segoe UI", Arial, Helvetica, sans-serif;
        font-size: 16px;
    }
</style>

<div class="container-fluid mt-3 ml-10 mr-10">
    <h4 class="mb-3">Σελίδα υποβολής αιτήσεων και προϋπηρεσιών</h4>
    @(Html.Kendo().PanelBar()
    .Name("IntroPanelBar")
    .Items(items =>
    {
        items.Add()
            .Text("ΟΔΗΓΙΕΣ 1 - ΠΡΟΣΩΠΙΚΑ ΣΤΟΙΧΕΙΑ ")
            .Selected(true)
            .Expanded(false)
            .Content(@<text>
                <div class="body-content ml-4 mr-4" style="margin-left:40px;margin-right:40px">
                    <p class="sansserif"></p>
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Η συμπλήρωση προσωπικών στοιχείων περιλαμβάνει τρεις ενότητες:
                            </font>
                        </span>
                        <br />
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList1.png" />
                        Στην πρώτη ενότητα καταχωρείτε ονοματεπώνυμο και στοιχεία επικοινωνίας, όπως ταχυδρομική διεύθυνση, τηλέφωνα και E-mail.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList2.png" />
                        Στη δεύτερη ενότητα συμπληρώνετε στοιχεία, όπως το ΑΦΜ, αριθμό δελτίου ταυτότητας, ΑΜΚΑ και αριθμό μητρώου ασφάλισης.
                        Για κάθε ένα από τα παραπάνω πεδία πρέπει να ανεβάσετε και το αντίστοιχο σκαναρισμένο έγγραφα βεβαίωσης των στοιχείων 
                        σε μορφή αρχείων PDF.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList3.png" />
                        Στην τρίτη ενότητα επιλέγετε ένα ή περισσότερα κοινωνικά κριτήρια, εάν εμπίπτετε σε κάποιες ειδικές κατηγορίες. Και εδώ πρέπει
                        για κάθε επιλογή πεδίου να ανεβάσετε και την αντίστοιχο σκαναρισμένο αποδεικτικό σε μορφή αρχείου PDF. 
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList4.png" />
                        Όταν ολοκληρώσετε τις καταχωρήσεις και επιλογή των αρχείων από τον υπολογιστή σας, πατάτε το κουμπί 'Αποθήκευση'
                        για υποβολή των στοιχείων και ανέβασμα των δικαιολογητικών στον εξυπηρετητή της Εφαρμογής.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList5.png" />
                        Μπορείτε να δείτε τι αρχεία έχετε ανεβάσει με το κουμπί 'Αρχεία' στο πάνω μέρος της σελίδας. Από την επιλογή αυτή
                        μπορείτε να προβάλετε και να διαγράψετε ένα ή περισσότερα αρχεία που έχετε ανεβάσει σε περίπτωση που διαπιστώσετε
                        ότι ανεβάσατε κάποια λανθασμένα έγγραφα.
                    </p>
                    <p />
                </div>
            </text>);
        items.Add()
            .Text("ΟΔΗΓΙΕΣ 2 - ΥΠΟΒΟΛΗ ΑΙΤΗΣΕΩΝ")
            .Content(@<text>
                <div class="body-content ml-4 mr-4" style="margin-left:40px;margin-right:40px">
                    <p class="sansserif"></p>
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Η υποβολή νέας αίτησης περιλαμβάνει τη συμπλήρωση στοιχείων σε τέσσερις ενότηητες:
                            </font>
                        </span>
                        <br />
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList1.png" />
                        Με την επιλογή αυτή δημιουργούμε κάθε φορά μια νέα αίτηση σε περίπτωση που υποβάλετε περισσότερες από μια
                        αιτήσεις. Στην 4η ενότητα συμπληρώνετε τον κλάδο και την ειδικότητα για την οποία κάνετε αίτηση. Στη συνέχεια
                        καταχωρείτε τα στοιχεία του βασικού πτυχίου σας και ανεβάζετε τα απαραίτητα πιστοποιητικά για τα αντίστοιχα πεδία.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList2.png" />
                        Στην 5η ενότητα καταχωρείτε τα στοιχεία του μεταπτυχιακού σας εάν επιθυμείτε να το υποβάλετε. Και εδώ ανεβάζετε, σε
                        όποια πεδία ζητούνται τα αντίστοιχα δικαιολογητικά.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList3.png" />
                        Στην 6η ενότητα καταχωρείτε τα στοιχεία του διδακτορικού σας και, όπως παραπάνω, ανεβάζετε τα κατάλληλα σκαναρισμένα
                        διακιολογητικά που ζητούνται.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList4.png" />
                        Στην 7η ενότητα επιλέγετε την επαγγελματική σας ιδιότητα (ιδιώτης ή δημόσιος υπάλληλος/συνταξιούχος) και στη συνέχεια επιλέγετε
                        την Περιφέρεια και σχολική Μονάδα στην οποία κάνετε την αίτηση.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList5.png" />
                        Με την ολοκλήρωση των καταχωρήσεων πατάτε 'Αποθήκευση', στο πάνω μέρος της σελίδας και υποβολή των στοιχείων και μεταφόρτωση
                        των δικαολογητικών στον εξυπηρετητή.
                    </p>
                    <p />
                </div>
            </text>);
        items.Add()
            .Text("ΟΔΗΓΙΕΣ 3 - ΛΟΙΠΑ ΣΤΟΙΧΕΙΑ & ΕΠΙΜΟΡΦΩΣΕΙΣ")
            .Content(@<text>
            <div class="body-content ml-4 mr-4" style="margin-left:40px;margin-right:40px">
                <p class="sansserif"></p>
                <p class="sansserif" style="font-size:medium">
                    <span>
                        <font style="font-family:'Segoe UI';font-size:large">
                            Προς συμπλήρωση ***
                        </font>
                    </span>
                    <br />
                </p>
                <p class="sansserif">
                    <img src="~/Images/metro/orderedList1.png" />
                    Προς συμπλήρωση ***
                </p>
                <p class="sansserif">
                    <img src="~/Images/metro/orderedList2.png" />
                    Προς συμπλήρωση ***
                </p>
                <p class="sansserif">
                    <img src="~/Images/metro/orderedList3.png" />
                    Προς συμπλήρωση ***
                </p>
                <p class="sansserif">
                    <img src="~/Images/metro/orderedList4.png" />
                    Προς συμπλήρωση ***
                </p>
                <p class="sansserif">
                    <img src="~/Images/metro/orderedList5.png" />
                    Προς συμπλήρωση ***
                </p>
                <p />
            </div>
            </text>);
        items.Add()
            .Text("ΟΔΗΓΙΕΣ 4 - ΣΤΟΙΧΕΙΑ ΠΡΟΫΠΗΡΕΣΙΩΝ")
            .Content(@<text>
                <div style="margin-left:6px;margin-right:6px">
                    <p></p>
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Προς συμπλήρωση ***
                            </font>
                        </span>
                        <br />
                    </p>
                </div>
            </text>);
    })
    )
</div>

