
@{
    ViewBag.Title = "Εκπαιδευτικοί";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<style>
    p.serif {
        font-family: "Times New Roman", Times, serif;
        font-size: 14px;
    }

    p.sansserif {
        font-family: "Segoe UI", Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
</style>

<div class="container-fluid mt-3 ml-10 mr-10">
    <h4 class="mb-3">Σελίδα υποβολής αιτήσεων και προϋπηρεσιών</h4>
    @(Html.Kendo().PanelBar()
    .Name("IntroPanelBar")
    .Items(items =>
    {
        items.Add()
            .Text("ΕΝΟΤΗΤΑ 1 - ΠΡΟΣΩΠΙΚΑ ΣΤΟΙΧΕΙΑ ")
            .Selected(true)
            .Expanded(true)
            .Content(@<text>
                <div style="margin-left:6px;margin-right:6px">
                    <p class="sansserif"></p>
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Τι κάνω για να υποβάλω την Ηλεκτρονική Αίτηση;
                            </font>
                        </span>
                        <br />
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList1.png" />
                        Στην εφαρμογή κάνετε είσοδο με τα στοιχεία λογαριασμού σας του TAXISnet.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList2.png" />
                        Στη συνέχεια, στην καρτέλα εισόδου της εφαρμογής απλά πατάτε 'Είσοδος'.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList3.png" />
                        Επιλέγετε πρώτα 'Προσωπικά στοιχεία'. Στη φόρμα που ανοίγει συμπληρώνετε τα
                        στοιχεία που ζητούνται. Πατάτε 'Αποθήκευση' και επιστρέφετε στην κεντρική
                        σελίδα.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList4.png" />
                        Επιλέγετε 'Υποβολή Νέας Αίτησης'μόνο για δημιουργήσετε μια νέα Αίτηση. Στη φόρμα που ανοίγει συμπληρώνετε τα
                        στοιχεία που ζητούνται΄.Πατάτε 'Αποθήκευση' και μετά 'Επιστροφή' για να επιστρέψετε στη σελίδα εργασιών.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList5.png" />
                        Αφού έχετε δημιουργήσει μία ή περισσότερες αιτήσεις, επιλέγετε 'Διαχείριση Αιτήσεων'.<br />
                        Εδώ, ορίζετε σε ποιές άλλες Σχολικές Μονάδες θέλετε να αξιολογηθείτε. Με το πλήκτρο 'Επεξεργασία'
                        μπορείτε να κάνετε μεταβολές στοιχείων των αιτήσεών σας και να τις εκτυπώσετε.
                    </p>
                    <p />
                    <p class="sansserif">
                        ΣΗΜΑΝΤΙΚΗ ΔΙΕΥΚΡΙΝΙΣΗ
                    </p>
                    <p class="sansserif">
                        <font style="font-weight:bold">
                            Από την ημέρα που καταχωρήσετε την αίτησή σας και μέχρι την ημερομηνία λήξης
                            της προθεσμίας υποβολής αιτήσεων, μπορείτε να κάνετε, όσες φορές θέλετε, αλλαγές
                            στα καταχωρημένα στοιχεία και εκτυπώσεις. Συνεπώς, έχετε σχετική άνεση χρόνου για
                            διορθώσεις και γενικά όποιες αλλαγές κρίνετε σκόπιμες. ΤΙΠΟΤΑ ΔΕΝ ΚΛΕΙΔΩΝΕΙ μέχρι
                            τη λήξη προθεσμίας υποβολής των αιτήσεων, οπότε συντάξετε τις Αιτήσεις σας προσεκτικά
                            και χωρίς άγχος.
                        </font>
                    </p>
                    <p class="sansserif">
                        <font style="font-weight:bold;font-style:italic">
                            Όλες οι αιτήσεις θα κλειδωθούν την ημερομηνία και ώρα που αναφέρεται στην Ανακοίνωση.
                        </font>
                    </p>
                    <p class="sansserif">
                        Σας ευχόμαστε ΚΑΛΗ ΕΠΙΤΥΧΙΑ!
                    </p>
                </div>
            </text>);
        items.Add()
            .Text("ΕΝΟΤΗΤΑ 2 - ΣΤΟΙΧΕΙΑ ΑΙΤΗΣΗΣ")
            .Content(@<text>
                <div style="margin-left:6px;margin-right:6px">
                    <p class="sansserif"></p>
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Τι κάνω για να υποβάλω την Ηλεκτρονική Αίτηση;
                            </font>
                        </span>
                        <br />
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList1.png" />
                        Στην εφαρμογή κάνετε είσοδο με τα στοιχεία λογαριασμού σας του TAXISnet.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList2.png" />
                        Στη συνέχεια, στην καρτέλα εισόδου της εφαρμογής απλά πατάτε 'Είσοδος'.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList3.png" />
                        Επιλέγετε πρώτα 'Προσωπικά στοιχεία'. Στη φόρμα που ανοίγει συμπληρώνετε τα
                        στοιχεία που ζητούνται. Πατάτε 'Αποθήκευση' και επιστρέφετε στην κεντρική
                        σελίδα.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList4.png" />
                        Επιλέγετε 'Υποβολή Νέας Αίτησης'μόνο για δημιουργήσετε μια νέα Αίτηση. Στη φόρμα που ανοίγει συμπληρώνετε τα
                        στοιχεία που ζητούνται΄.Πατάτε 'Αποθήκευση' και μετά 'Επιστροφή' για να επιστρέψετε στη σελίδα εργασιών.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/metro/orderedList5.png" />
                        Αφού έχετε δημιουργήσει μία ή περισσότερες αιτήσεις, επιλέγετε 'Διαχείριση Αιτήσεων'.<br />
                        Εδώ, ορίζετε σε ποιές άλλες Σχολικές Μονάδες θέλετε να αξιολογηθείτε. Με το πλήκτρο 'Επεξεργασία'
                        μπορείτε να κάνετε μεταβολές στοιχείων των αιτήσεών σας και να τις εκτυπώσετε.
                    </p>
                    <p />
                    <p class="sansserif">
                        ΣΗΜΑΝΤΙΚΗ ΔΙΕΥΚΡΙΝΙΣΗ
                    </p>
                    <p class="sansserif">
                        <font style="font-weight:bold">
                            Από την ημέρα που καταχωρήσετε την αίτησή σας και μέχρι την ημερομηνία λήξης
                            της προθεσμίας υποβολής αιτήσεων, μπορείτε να κάνετε, όσες φορές θέλετε, αλλαγές
                            στα καταχωρημένα στοιχεία και εκτυπώσεις. Συνεπώς, έχετε σχετική άνεση χρόνου για
                            διορθώσεις και γενικά όποιες αλλαγές κρίνετε σκόπιμες. ΤΙΠΟΤΑ ΔΕΝ ΚΛΕΙΔΩΝΕΙ μέχρι
                            τη λήξη προθεσμίας υποβολής των αιτήσεων, οπότε συντάξετε τις Αιτήσεις σας προσεκτικά
                            και χωρίς άγχος.
                        </font>
                    </p>
                    <p class="sansserif">
                        <font style="font-weight:bold;font-style:italic">
                            Όλες οι αιτήσεις θα κλειδωθούν την ημερομηνία και ώρα που αναφέρεται στην Ανακοίνωση.
                        </font>
                    </p>
                    <p class="sansserif">
                        Σας ευχόμαστε ΚΑΛΗ ΕΠΙΤΥΧΙΑ!
                    </p>
                </div>
            </text>);
        items.Add()
            .Text("ΕΝΟΤΗΤΑ 3 - ΣΤΟΙΧΕΙΑ ΠΡΟΫΠΗΡΕΣΙΩΝ")
            .Content(@<text>
                <div style="margin-left:6px;margin-right:6px">
                    <p></p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.1.png" width="42" height="42" />
                        Η πρόσβαση στις Ηλεκτρονικές Υπηρεσίες του ΟΑΕΔ απαιτεί σύγχρονα προγράμματα πλοήγησης (browsers) για την ασφάλεια των προσωπικών
                        δεδομένων και των πληροφοριακών συστημάτων. Αν αντιμετωπίζετε πρόβλημα πρόσβασης στις Ηλεκτρονικές Υπηρεσίες του ΟΑΕΔ, θα πρέπει
                        να κατεβάσετε και να εγκαταστήσετε την πιο πρόσφατη έκδοση ενός από τους δωρεάν περιηγητές Google Chrome ή Mozilla Firefox.
                        Για τον σκοπό αυτό επισκεφθείτε μια από τις παρακάτω ιστοσελίδες και ακολουθείστε τις οδηγίες που σας παρέχουν.<br />
                        Για το Google Chrome: <a href="https://www.google.com/chrome/browser/desktop" target="_blank"><b>https://www.google.com/chrome/browser/desktop</b></a><br />
                        Για το Mozilla Firefox: <a href="https://www.mozilla.org/el/firefox/new" target="_blank"><b>https://www.mozilla.org/el/firefox/new</b></a>
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.2.png" width="42" height="42" />
                        Η τρέχουσα Προκήρυξη είναι ανοικτή για τους υποψηφίους εκπαιδευτικούς από <b>../../2021 ώρα 08:00 έως ../../2021 ώρα 23:59</b>.<br />
                    </p>
                    <p></p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.3.png" width="42" height="42" />
                        Οι υποψήφιοι μπορούν να ενημερώνονται για τα αναλυτικά μόρια στην επιλογή "Αποτελέσματα Αξιολόγησης",<br />
                        <font style="margin-left:42px">που βρίσκεται στην κεντρική σελίδα του κάθε υποψηφίου εκπαιδευτικού.</font>
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.4.png" width="42" height="42" />
                        Υποστήριξη υποψηφίων εκπαιδευτικών (βλ. "Επικοινωνία")
                        <ul>
                            <li>
                                Τα email μηνύματα που αποστέλλονται σε άλλη διεύθυνση εκτός της αναφερόμενης παραπάνω δεν θα απαντώνται.
                            </li>
                            <li>
                                Email μηνύματα τα οποία είναι γραμμένα σε greeklish θα διαγράφονται χωρίς ανάγνωση και συνεπώς δεν θα απαντώνται.
                            </li>
                            <li>
                                Τυχόν ερωτήματα μέσω email για να απαντηθούν απαιτούνται : Ονοματεπώνυμο, ΑΦΜ, Τηλέφωνα επικοινωνίας.
                            </li>
                            <li>
                                Ειδικότερα για την ανάκτηση κωδικών απαιτείται συνημμένο αντίγραφο Δελτίου Ταυτότητας σε μορφή pdf.
                            </li>
                        </ul>
                    </p>
                </div>
            </text>);
    })
    )
</div>

