@using PegasusPlus.Models

@{
    ViewBag.Title = "SchoolYearsList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header" style="margin:5px 30px 5px 30px">
    <span style="margin:5px 30px 5px 30px;font-family:'Segoe UI';font-size:large;text-shadow:1px 1px #696969">
        <font style="color:#292929;font-family:'Segoe UI'">Σχολικά Έτη</font>
    </span>
    <span style="margin:5px 10px 5px 5px;float:right;font-family:'Segoe UI';">@Html.ActionLink("Επιστροφή", "Index", "Admin2", null, new { @class = "btn btn-warning", style = "font-size:16px" })</span>
    <button class="btn btn-info" style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:16px" onclick="RefreshGrid()">Ανανέωση</button>
</div>

<div class="body-content mt-4" style="margin:10px 30px 5px 30px">
    @(Html.Kendo().Grid<SchoolYearsViewModel>()
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(m => m.SchoolYearText).Width(30);
            columns.Bound(m => m.DateStart).Width(30).Format("{0:dd/MM/yyyy}");
            columns.Bound(m => m.DateEnd).Width(30).Format("{0:dd/MM/yyyy}");
            columns.Command(command => command.Destroy()).Width(30);
        })
        .ToolBar(toolBar =>
        {
            toolBar.Create();
            toolBar.Save();
            toolBar.Pdf();
            toolBar.Excel();
        })
        .Filterable()
        .Navigatable()
        .HtmlAttributes(new { style = "font-size:16px" })
        .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Top))
        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
        .Scrollable(scr => scr.Height(420))
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(datasource => datasource
        .Ajax()
        .Batch(true)
        .PageSize(40)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.SchoolYearID);
        })
        .Create(create => create.Action("SchoolYear_Create", "Tools"))
        .Read(read => read.Action("SchoolYear_Read", "Tools"))
        .Update(update => update.Action("SchoolYear_Update", "Tools"))
        .Destroy(destroy => destroy.Action("SchoolYear_Destroy", "Tools"))
        .Events(events => events.Error("error_handler"))
        ) @* datasource*@
    )
</div>

<script type="text/javascript">

    function RefreshGrid(e) {
        var grid = $("#Grid").data("kendoGrid");
        grid.dataSource.read();
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "<br/>";
                    });
                }
            });
            MessageBoxAlert(message, "Σφάλμα");
            $("#Grid").data("kendoGrid").dataSource.read();
        }
    }

</script>
