
@{
    ViewBag.Title = "Αρχική Σχολείων";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<style>
    p.serif {
        font-family: "Times New Roman", Times, serif;
        font-size: 14px;
    }

    p.sansserif {
        font-family: "Segoe UI", Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
</style>

<body>
    <div class="row" style="align-content:center;margin:20px 20px 20px 20px">

        @(Html.Kendo().PanelBar().Name("infoPanel")
        .HtmlAttributes(new { style = "width:100%" })
        .Items(items =>
        {
            items.Add()
            .Text("ΟΔΗΓΙΕΣ 1 (ΑΙΤΗΣΕΙΣ ΚΑΙ ΠΡΟΫΠΗΡΕΣΙΕΣ)")
            .Selected(true)
            .Expanded(false)
            .Content(
            @<text>
                <div style="margin-left:6px;margin-right:6px">
                    <p class="sansserif"></p>
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Σύντομη περιγραφή της διαδικασίας μοριοδότησης
                            </font>
                        </span>
                        <br />
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.png" style="width:42px;height:42px" />
                        Από το μενού 'Αιτήσεις' έχουμε μία επιλογή εργασιών:
                        <ol>
                            <li>
                                Αιτήσεις-Προϋπηρεσίες - Στη σελίδα αυτή γίνεται όλη η διαδικασία της μοριοδότησης. Υπάρχουν τέσσερα πλέγματα:<br />
                                Στο άνω πλέγμα είναι οι αιτήσεις των υποψηφίων και στα τρία πλέγματα από κάτω υπάρχουν οι διδακτικές, επαγγελματικές και
                                από ελευθέριο επάγγελμα προϋπηρεσίες.
                            </li>
                            <li>
                                Για να εργαστούμε σε μία αίτηση πρώτα την επιλέγουμε κάνοντας κλικ επάνω στην αντίστοιχη γραμμή του πλέγματος αιτήσεων, οπότε
                                αυτή εμφανίζεται χρωματισμένη. Στο πρώτο πάνελ από κάτω εμφανίζονται μερικά στοιχεία της επιλεγμένης αίτησης.
                            </li>
                        </ol>
                    </p>
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Επεξεργασία Αιτήσεων
                            </font>
                        </span>
                        <br />
                    <p class="sansserif">
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                        Στο πλέγμα με τις Αιτήσεις, που αφορούν στη σχολική μονάδα που έκανε είσοδο, υπάρχουν δεξιά τα εξής κουμπιά:<br />
                        "Αιτηση", "Σχολεία", "Μεταφορά" και "Μόρια".
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                        Με το κουμπί "Αίτηση" ανοίγει η σελίδα με τα στοιχεία της επιλεγμένης αίτησης.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                        Στην καρτέλα αυτή υπάρχει, επιπλέον, ένα πάνελ με τίτλο 'Έλεγχος (Επιτροπές Αξιολόγησης)'. Σε αυτό
                        σημειώνουμε ότι έγινε έλεγχος και γράφουμε, αν χρειάζεται κάποιες παρατηρήσεις.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                        Τέλος, πατάμε 'Αποθήκευση' και στη συνέχεια 'Επιστροφή' η οποία μας φέρνει στην αρχική σελίδα "Αιτήσεις και προϋπηρεσίες υποψηφίων",
                        προκειμένου να επαναλάβουμε τη διαδικασία αυτή για κάθε άλλη Αίτηση. Με τον τρόπο αυτόν ολοκληρώνεται
                        το πρώτο στάδιο μοριοδότησης - ο έλεγχος των 'μορίων εκκίνησης'.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.5.png" style="width:42px;height:42px" />
                        Το επόμενο βήμα είναι να πατήσουμε το κουμπί "Μεταφορά" το οποίο μεταφέρει τις τυχόν υπάρχουσες προϋπηρεσίες της επιλεγμένης αίτησης
                        από την προηγούμενη προκήρυξη.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.6.png" style="width:42px;height:42px" />
                        Με το κουμπί "Σχολεία" ανοίγει η σελίδα με τα καταχωρημένα σχολεία προτίμησης για την επιλεγμένη αίτηση. Και πάλι κάνουμε εδώ τυχόν αλλαγές
                        και αφού αποθηκεύσουμε επιστρέφουμε στην αρχική σελίδα.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.7.png" style="width:42px;height:42px" />
                        Με το κουμπί "Μόρια" ανοίγει η σελίδα η οποία προβάλλει, ενημερωτικά, τα αποτελέσματα της μοριοδότησης για την αντίστοιχη (επιλεγμένη) αίτηση.<br />
                        Συνεπώς το κουμπί αυτό χρησιμοποιείται ΑΦΟΥ ολοκληρωθεί η μοριοδότηση (βλ. παρακάτω).
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.8.png" style="width:42px;height:42px" />
                        ΣΗΜΕΙΩΣΗ: Στην κεντρική σελίδα "Αιτήσεις και προϋπηρεσίες" υπάρχουν στο άνω τμήμα δύο κουμπιά: "Επαναφορά" και "Επιλογή". Θα εξηγήσουμε, εδώ, τη χρήσιμη
                        λειτουργία των αυτών κουμπιών. Όταν από την αρχική σελίδα μεταβαίνουμε σε μία άλλη και επιστρέψουμε, το πλέγμα αιτήσεων βρίσκεται στην αρχική του μορφή.
                        Το κουμπί "Επαναφορά" επαναφέρει την κατάσταση του πλέγματος εκεί που ήταν πριν αλλάξουμε σελίδα. Δηλαδή, μας επαναφέρει στη σελίδα του πλέγματος που βρισκόμασταν
                        (π.χ. στη σελίδα 4) και επαναφέρει τυχόν ταξινομήσεις, φίλτρα ή ομαδοποιήσεις που είχαμε κάνει.<br />
                        Το κουμπί "Επιλογή" μας δείχνει ποια ήταν η αίτηση που είχαμε επιλέξει πριν τη μετάβαση σε άλλη σελίδα. Την εμφανίζει δηλαδή χρωματισμένη. Αν θέλουμε να
                        συνεχίσουμε εργασίες πάνω στην ίδια αίτηση πρέπει και πάλι να κάνουμε κλικ επάνω της. Το κουμπί "Επιλογή" απλώς μας δείχνει ποια είχαμε επιλέξει - ΔΕΝ ΤΗΝ ΕΠΙΛΕΓΕΙ.<br />
                        Συνεπώς, κάθε φορά που φεύγουμε από την αρχική σελίδα και επιστρέψουμε σε αυτήν, πατάμε "Επαναφορα" και "Επιλογή".
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.9.png" style="width:42px;height:42px" />
                        ΜΟΡΙΟΔΟΤΗΣΗ: Αφού ολοκληρωθούν οι έλεγχοι των αιτήσεων και οι καταχωρήσεις προϋπηρεσιών για ΟΛΕΣ τις αιτήσεις της σχολικής μονάδας, πατάμε το κόκκινο
                        κουμπί "Μοριοδότηση" που βρίσκεται δεξιά και επάνω από το πλέγμα αιτήσεων. Με το κουμπί αυτό μοριοδοτούνται ΌΛΕΣ ΟΙ ΑΙΤΗΣΕΙΣ της σχολικής μονάδας, μαζικά.<br />
                        Ανάλογα με τον αριθμό αιτήσεων η διαδικασία μπορεί να διαρκέσει μέχρι 10 λεπτά το πολύ. Όταν ολοκληρωθεί η διαδικασία εμφανίζεται μήνυμα στη σελίδα.
                        Όσο διαρκεί η λειτουργία μοριοδότησης εμφανίζεται στο επάνω αριστερό άκρο του παραθύρου του περιηγητή (π.χ. Chrome) ένας μικρός κύκλος που περιστρέφεται
                        δηλώνοντας ότι ο περιηγητής αναμένει την ολοκλήρωση της διαδικασίας από τον εξυπηρετητή (την εφαρμογή).<br />
                        ΠΡΟΣΟΧΗ: ΔΕΝ ΔΙΑΚΟΠΤΟΥΜΕ ΤΗ ΛΕΙΤΟΥΡΓΙΑ ΑΥΤΗ ΜΕΧΡΙ ΝΑ ΕΜΦΑΝΙΣΤΕΙ ΤΟ ΜΗΝΥΜΑ! (π.χ. μετάβαση σε άλλη σελίδα).
                    </p>
                    <p /><br />
                </div>
            </text>);
            items.Add()
            .Text("ΟΔΗΓΙΕΣ 2 (ΕΠΕΞΕΡΓΑΣΙΑ ΠΡΟΫΠΗΡΕΣΙΩΝ)")
            .Content(
            @<text>
                <div style="margin-left:6px;margin-right:6px">

                    <p class="sansserif"></p>

                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Καταχώρηση και Μοριοδότηση Προϋπηρεσιών
                            </font>
                        </span>
                        <br />
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.png" style="width:42px;height:42px" />
                        Στο πλέγμα που εμφανίζεται αντιστοιχούν τρία πλήκτρα για κάθε Αίτηση:
                        <ol>
                            <li>
                                Διδακτικές - Ανοίγει πλέγμα στο οποίο καταχωρούμε τις διδακτικές προϋπηρεσίες που
                                αντιστοιχούν στην επιλεγμένη Αίτηση.
                            </li>
                            <li>
                                Επαγγελματικές - Ανοίγει πλέγμα στο οποίο καταχωρούμε τις επαγγελματικές (μισθωτής εργασίας)
                                προϋπηρεσίες που αντιστοιχούν στην επιλεγμένη Αίτηση.
                            </li>
                            <li>
                                Ελ. Επάγγελμα - Ανοίγει πλέγμα στο οποίο καταχωρούμε τις προϋπηρεσίες από άσκηση ελεύθερου
                                επαγγέλματος, που αντιστοιχούν στην επιλεγμένη Αίτηση.
                            </li>
                        </ol>
                    </p>
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Διδακτικές
                            </font>
                        </span>
                        <br />
                    <p class="sansserif" />
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                        Στο εμφανιζόμενο πλέγμα καταχωρούμε τα βασικά πεδία, όπως 'Δομή Εκπαίδευσης', σχολικό έτος και τις ημερομηνίες
                        έναρξης και λήξης της προϋπηρεσίας.

                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                        Σημαντικό! Πατάμε 'Αποθήκευση' και μετά οπωσδήποτε 'Ανανέωση'. Το πλήκτρο 'Επεξεργασία' οδηγεί στην
                        καρτέλα της επιλεγμένης διδακτικής προϋπηρεσίας, όπου καταχωρούνται τα υπόλοιπα στοιχεία. Αν δεν πατησουμε
                        'Ανανέωση' μετά την αποθήκευση, το πάτημα του 'Επεξεργασία' μας στέλνει στην προηγούμενη σελίδα, αντί να
                        εμφανίσει την καρτέλα προϋπηρεσίας. Επομένως η διαδικασία είναι:
                        <ul>
                            <li>Αποθήκευση -> Ανανέωση -> Επεξεργασία</li>
                        </ul>
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                        Στην καρτέλα προϋπηρεσίας συμπληρώνουμε τα υπόλοιπα πεδία. όπως ώρες/εβδ ή σύνολο ωρών. Εάν το πεδίο
                        'Ωρες/Εβδ' ΔΕΝ είναι κενό τότε ο υπολογισμός ωρών (και μορίων) γίνεται σύμφωνα με αυτό το πεδίο. Εάν
                        καταχωρούμε σύνολο ωρών, το πεδίο 'Ωρες/εβδ' πρέπει να είναι κενό. Σημειώνουμε, επίσης αν το συγκεκριμένο έγγραφο
                        είναι έγκυρο για μοριοδότηση (πεδίο 'Για προσμέτρηση'). Αν δεν είναι έγκυρο πρέπει να γραφεί και μια αιτιολογία
                        στις παρατηρήσεις. Τα στοιχεία που αφορούν στο έγγραφο είναι υποχρεωτικά.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                        Πατάμε 'Αποθήκευση'. Με το πλήκτρο αυτό ελέγχεται η ορθότητα των δεδομένων και αν δεν προκύψουν σφάλματα,
                        σύμφωνα με κάποιους κανόνες επικύρωσης, υπολογίζονται τα μόρια και η εγγραφή αποθηκεύεται.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.5.png" style="width:42px;height:42px" />
                        Πατάμε 'Επιστροφή' (στο πλέγμα διδακτικών προϋπηρεσιών) και επαναλαμβάνουμε την παραπάνω διαδικασία
                        για κάθε άλλη διδακτική προϋπηρεσία.
                    </p>

                    <p /><br />
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Επαγγελματικές
                            </font>
                        </span>
                        <br />
                    <p class="sansserif" />
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                        Στο εμφανιζόμενο πλέγμα καταχωρούμε τα βασικά πεδία, όπως την αρχική και τελική ημερομηνία.
                        Το πεδίο 'Ημέρες*' υπολογίζεται αυτόματα από τις ημερομηνίες. Αν θέλουμε, όμως μπορούμε να εισάγουμε
                        τις ημέρες απασχόλησης στη στήλη 'Ημέρες'.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                        Όπως με τις Διδακτικές, πατάμε 'Αποθήκευση' και μετά οπωσδήποτε 'Ανανέωση'. Το πλήκτρο 'Επεξεργασία' οδηγεί στην
                        καρτέλα της επιλεγμένης επαγγελματικής προϋπηρεσίας, όπου καταχωρούνται τα υπόλοιπα στοιχεία. Αν δεν πατησουμε
                        'Ανανέωση' μετά την αποθήκευση, το πάτημα του 'Επεξεργασία' μας στέλνει στην προηγούμενη σελίδα, αντί να
                        εμφανίσει την καρτέλα προϋπηρεσίας. Επομένως η διαδικασία είναι και εδώ:
                        <ul>
                            <li>Αποθήκευση -> Ανανέωση -> Επεξεργασία</li>
                        </ul>
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                        Στην καρτέλα προϋπηρεσίας συμπληρώνουμε τα υπόλοιπα πεδία. Το πεδίο 'Ημέρες*' θα υπολογιστεί αφού
                        πατήσουμε 'Αποθήκευση' και βασίζεται στις ημερολογιακές ημέρες μεταξύ των ημερομηνιών που καταχωρήθηκαν.
                        <br />
                        Εάν αυτό δεν είναι κατάλληλο, μπορούμε να εισάγουμε εμείς τον αριθμό ημερών στο πεδίο 'Ημέρες', οπότε ο
                        ιπολογισμός μορίων θα γίνει βάσει της τιμής που εισάγαμε.
                        <br />
                        Σημειώνουμε, επίσης αν το συγκεκριμένο έγγραφο είναι έγκυρο για μοριοδότηση (πεδίο 'Για προσμέτρηση').
                        Αν δεν είναι έγκυρο πρέπει να γραφεί και μια αιτιολογίαστις παρατηρήσεις. Τα στοιχεία που αφορούν στο
                        έγγραφο είναι υποχρεωτικά.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                        Πατάμε 'Αποθήκευση'. Με το πλήκτρο αυτό ελέγχεται η ορθότητα των δεδομένων και αν δεν προκύψουν σφάλματα,
                        σύμφωνα με κάποιους κανόνες επικύρωσης, υπολογίζονται τα μόρια και η εγγραφή αποθηκεύεται.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.5.png" style="width:42px;height:42px" />
                        Πατάμε 'Επιστροφή' (στο πλέγμα επαγγελματικών προϋπηρεσιών) και επαναλαμβάνουμε την παραπάνω διαδικασία
                        για κάθε άλλη επαγγελματική προϋπηρεσία.
                    </p>
                    <p /><br />
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Ελεύθερο Επάγγελμα
                            </font>
                        </span>
                        <br />
                    <p class="sansserif" />
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                        Στο εμφανιζόμενο πλέγμα καταχωρούμε τα βασικά πεδία, όπως το έτος εισοδήματοςμ το εισόδημσ και τις
                        ημερομηνίες απασχόλησης.Το πεδίο 'Ημέρες*' υπολογίζεται αυτόματα από τις ημερομηνίες. Αν θέλουμε, όμως,
                        μπορούμε να εισάγουμε τις ημέρες απασχόλησης στη στήλη 'Ημέρες'.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                        Όπως με τις άλες προϋπηρεσίες, πατάμε 'Αποθήκευση' και μετά οπωσδήποτε 'Ανανέωση'. Το πλήκτρο 'Επεξεργασία'
                        οδηγεί στην καρτέλα της επιλεγμένης προϋπηρεσίας, όπου καταχωρούνται τα υπόλοιπα στοιχεία. Αν δεν πατησουμε
                        'Ανανέωση' μετά την αποθήκευση, το πάτημα του 'Επεξεργασία' μας στέλνει στην προηγούμενη σελίδα, αντί να
                        εμφανίσει την καρτέλα προϋπηρεσίας. Επομένως η διαδικασία είναι και εδώ:
                        <ul>
                            <li>Αποθήκευση -> Ανανέωση -> Επεξεργασία</li>
                        </ul>
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                        Στην καρτέλα προϋπηρεσίας συμπληρώνουμε τα υπόλοιπα πεδία. Το πεδίο 'Ημέρες*' θα υπολογιστεί αφού
                        πατήσουμε 'Αποθήκευση' και βασίζεται στις ημερολογιακές ημέρες μεταξύ των ημερομηνιών που καταχωρήθηκαν.
                        <br />
                        Εάν αυτό δεν είναι κατάλληλο, μπορούμε να εισάγουμε εμείς τον αριθμό ημερών στο πεδίο 'Ημέρες', οπότε ο
                        ιπολογισμός μορίων θα γίνει βάσει της τιμής που εισάγαμε.
                        <br />
                        Κάθε προϋπηρεσία παίρνει μόρια μόνο αν το εισόδημα, που καχωαρήθηκε, είναι μεγαλύτερο του αφορολόγητου
                        για το επιλεγμένο έτος εισοδήματος. Τα αφορολόγητα ποσά και το αντίστοιχο νόμισμα για κάθε έτος προκύπτουν
                        από πίνακα της βάσης δεδομένων της εφαρμογής (β. Ρυθμίσεις -> Αφαρολόγητα Εισοδήματα).
                        <br />
                        Σημειώνουμε, επίσης αν το συγκεκριμένο έγγραφο είναι έγκυρο για μοριοδότηση (πεδίο 'Για προσμέτρηση').
                        Αν δεν είναι έγκυρο πρέπει να γραφεί και μια αιτιολογίαστις παρατηρήσεις. Τα στοιχεία που αφορούν στο
                        έγγραφο είναι υποχρεωτικά.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                        Πατάμε 'Αποθήκευση'. Με το πλήκτρο αυτό ελέγχεται η ορθότητα των δεδομένων και αν δεν προκύψουν σφάλματα,
                        σύμφωνα με κάποιους κανόνες επικύρωσης, υπολογίζονται τα μόρια και η εγγραφή αποθηκεύεται.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.5.png" style="width:42px;height:42px" />
                        Πατάμε 'Επιστροφή' (στο πλέγμα προϋπηρεσιών) και επαναλαμβάνουμε την παραπάνω διαδικασία
                        για κάθε άλλη προϋπηρεσία από ελεύθερο επάγγελμα.
                    </p>
                    <p /><br />
                </div>
            </text>);
            items.Add()
            .Text("ΟΔΗΓΙΕΣ 3 (ΜΕΤΑΦΟΡΑ ΠΡΟΫΠΗΡΕΣΙΩΝ)")
            .Content(
            @<text>
                <div style="margin-left:6px;margin-right:6px">
                    <p class="sansserif"></p>
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Μεταφορά και Έλεγχος Διπλότυπων Προϋπηρεσιών
                            </font>
                        </span>
                        <br />
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.png" style="width:42px;height:42px" />
                        Στην κάθε γραμμή των πλεγμάτων προϋπηρεσιών (διδ., επαγγ., ελ. επάγγ.) υπάρχει το κουμπί"Διπλότυπες."
                        <ol>
                            <li>
                                Μεταφορά - Τ ο κουμπί αυτό, που βρίσκεται στο πλέγμα αιτήσεων, μεταφέρει όλες (διδ., επαγ., ελ. επάγ.) τις αντίστοιχες προϋπηρεσίες του επιλεγμένου υποψήφιου,
                                από τις προηγούμενες αιτήσεις του, στη νέα αίτηση. Ως "αντίστοιχες" θεωρούνται οι προϋπηρεσίες του συγκεκριμένου υποψήφιου για την
                                ίδια ειδικότητα με τη νέα αίτηση, ασχέτως σε ποια σχολική μονάδα τις είχε υποβάλει.
                            </li>
                            <li>
                                Διπλότυπες - Μετά την εκτέλεση της Μεταφοράς και καταχώρηση των νέων προϋπηρεσιών, μπορεί να προκύψουν πιθανές διπλότυπες
                                προϋπηρεσίες. Ως "πιθανές διπλότυπες" θεωρούνται οι προϋπηρεσίες με τις ίδιες ημερομηνίες έναρξης-λήξης και ίδιες ώρες (διδ.)
                                ή ημέρες (επαγγ.)
                            </li>
                        </ol>
                    </p>
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Τρόπος Εργασίας
                            </font>
                        </span>
                        <br />
                    <p class="sansserif" />
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                        Καταχωρούμε τις νέες προϋπηρεσίες στα αντίστοιχα πλέγματα και αποθηκεύουμε κατά τα γνωστά (βλ. ΟΔΗΓΙΕΣ 2).
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                        Στην παραπάνω διαδικασία μπορεί να προκύψουν διπλότυπες προϋπηρεσίες. Πατάμε το πλήκτρο "Διπλότυπες".
                        Στη σελίδα που ανοίγει, εμφανίζονται μόνο αυτές που έχουν χαρακτηρισθεί ως διπλότυπες.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                        Με το κουμπί "Επεξεργασία", σε συνδυασμό με τα υποβληθέντα δικαιολογητικά, ελέγχουμε μία προς μία για να
                        διαπιστώσουμε αν πράγματι πρόκειται για διπλότυπη προϋπηρεσία. Αυτές που είναι διαπιστωμένα διπλότυπες, τις
                        διαγράφουμε με το κουμπί "Διαγραφή" που υπάρχει στον πίνακα με τις διπλότυπες προϋπηρεσίες.<br />
                        ΠΡΟΣΟΧΗ! : Εάν κάποια προϋπηρεσία εμφανίζεται π.χ. δύο φορές, διαγράφουμε τη μία μόνο. Όχι και τις δύο!
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.5.png" style="width:42px;height:42px" />
                        Εκτελούμε τα βήματα 3,4 σε κάθε πλέγμα (είδος) προϋπηρεσιών - διδακτικές, επαγγελματικές και από ελ. επάγγελμα.
                    </p>
                    <p /><br />
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                ΣΗΜΑΝΤΙΚΟ!
                            </font>
                        </span>
                        <br />
                    <p class="sansserif" />
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.png" style="width:42px;height:42px" />
                        Όταν ολοκληρωθεί η διαδικασία εκκαθάρισης των διπλότυπων προϋπηρεσιών, στη λίστα υπάρχουν μόνο
                        αυτές που πρέπει να μοριοδοτηθούν. Σε κάθε μία πατάμε "Επεξεργασία" και μετά "Αποθήκευση".<br />
                        <b>Η ΑΠΟΘΗΚΕΥΣΗ ΜΟΡΙΟΔΟΤΕΙ ΚΑΘΕ ΠΡΟΫΠΗΡΕΣΙΑ ΣΥΜΦΩΝΑ ΜΕ ΤΗ ΝΕΑ ΥΠΟΥΡΓΙΚΗ ΑΠΟΦΑΣΗ! (βλ. ΟΔΗΓΙΕΣ 4)</b>
                    </p>
                    <p /><br />
                </div>
            </text>);
            items.Add()
            .Text("ΟΔΗΓΙΕΣ 4 (ΥΠΟΛΟΓΙΣΜΟΙ ΜΟΡΙΩΝ)")
            .Content(
            @<text>
                <div style="margin-left:6px;margin-right:6px">
                    <p class="sansserif"></p>

                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Σύντομη περιγραφή του τρόπου μοριοδότησης
                            </font>
                        </span>
                        <br />
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.png" style="width:42px;height:42px" />
                        Οι κανόνες μοριοδότησης βασίζονται στις παρακάτω αναφορές:
                        <ol>
                            <li>
                                ΦΕΚ: 2178/08.08.2014, Παρ. Ε, σελ. 27172
                            </li>
                            <li>
                                ΦΕΚ: 2844/23.10.2012, Άρθρο 3.6, σελ. 43766
                            </li>
                            <li>
                                ΦΕΚ:
                            <li>
                                ΥΠΟΥΡΓΙΚΗ ΑΠΟΦΑΣΗ: 1961/Β'/30-06-2016 <br />
                                Σύμφωνα με την παραπάνω υπουργική, ο μέγιστος αριθμός μορίων ανά σχολικό έτος είναι 1 ΜΟΡΙΟ.
                            </li>
                        </ol>
                    </p>
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Μόρια Διδακτικής Εμπειρίας:
                            </font>
                        </span>
                        <br />
                    <p class="sansserif">
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" /><br />
                        Τα μόρια μ ανά έτος για τους κλάδους ΠΕ, ΤΕ, ΔΕ είναι (αναφορά 1):
                        <ol>
                            <li>
                                Πρωτοβάθμια Εκπαίδευση: μ1 = 0,5 με μέγιστο ΜΑΧ1 = 2
                            </li>
                            <li>
                                Δευτεροβάθμια Εκπαίδευση: μ2 = 1 με μέγιστο ΜΑΧ2 = 5
                            </li>
                            <li>
                                Τριτοβάθμια Εκπαίδευση: μ3 = 1 με μέγιστο ΜΑΧ3 = 5
                            </li>
                            <li>
                                ΙΕΚ-ΣΕΚ-ΠΣΕΚ: μ4 = 0,04/ώρα (στις 25 ώρες 1 μόριο) με μέγιστο ΜΑΧ4 = 12
                            </li>
                        </ol>
                        Τα μόρια μ ανά 25ωρο για τους Εμπειροτεχνίτες είναι:
                        <ol>
                            <li>
                                Για όλες τις Δομές Εκπαίδευσης: μ = 0,04/ώρα (στις 25 ώρες 1 μόριο) με μέγιστο ΜΑΧ = 10
                            </li>
                        </ol>
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" /><br />
                        Οι ώρες που αντιστοιχούν σε 1 έτος, για όλους τους κλάδους, είναι (αναφορά 2):
                        <ol>
                            <li>
                                Πρωτοβάθμια Εκπαίδευση: Η1 = 750 ώρες
                            </li>
                            <li>
                                Δευτεροβάθμια Εκπαίδευση: Η2 = 650 ώρες
                            </li>
                            <li>
                                Τριτοβάθμια Εκπαίδευση: Η3 = 210 ώρες
                            </li>
                            <li>
                                ΙΕΚ-ΣΕΚ-ΠΣΕΚ: Η4 = 500 ώρες
                            </li>
                        </ol>

                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                        Παραδείγματα:<br />
                        <ul>
                            <li>
                                Έστω Ν οι διδακτικές ώρες σε Δευτεροβάθμια Εκπαίδευση:<br />
                                Τα μόρια Μ υπολογίζονται ως: Μ = ΜΙΝ((Ν/Η2) x μ2, Η2 x μ2).<br />
                                Για τα τελικά μόρια είναι: Μ = ΜΙΝ(Μ, ΜΑΧ2).
                                Η παράσταση Ν/Η2 είναι τα έτη ή κλάσμα έτους που αντιστοιχεί στις Ν ώρες.
                            </li>
                            <li>
                                Έστω Ν οι διδακτικές ώρες σε Κατάρτιση (ΙΕΚ,ΣΕΚ, κ.λπ) για Εμπειροτεχνίτη:<br />
                                Τα μόρια Μ υπολογίζονται ως: Μ = ΜΙΝ(Ν x μ, Η4 x μ).<br />
                                Τα τελικά μόρια είναι Μ = ΜΙΝ(Μ, ΜΑΧ).
                            </li>
                        </ul>
                    <p></p>
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Μόρια Επαγγελματικής Εμπειρίας:
                            </font>
                        </span>
                        <br />
                    <p class="sansserif">

                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" /><br />
                        <ol>
                            <li>
                                Για τους κλάδους ΠΕ, ΤΕ, ΔΕ έχουμε: μ1 = 1 ανά έτος (365 ημέρες) με μέγιστο WΜΑΧ1 = 10
                            </li>
                            <li>
                                Για τους Εμπειροτεχνίτες έχουμε: μ2 = 2 ανά έτος (365 ημέρες) με μέγιστο WΜΑΧ2 = 30
                            </li>
                        </ol>
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                        Παραδείγματα:<br />
                        <ul>
                            <li>
                                Έστω Ν οι ημέρες μεταξύ δύο ημερομηνιών για ΠΕ, ΤΕ, ΔΕ:<br />
                                Τα μόρια Μ υπολογίζονται ως: Μ = ΜΙΝ((Ν/365) x μ1, WΜΑΧ1).<br />
                                Η παράσταση Ν/365 είναι τα έτη ή κλάσμα έτους που αντιστοιχεί στις Ν ημέρες.
                            </li>
                            <li>
                                Έστω Ν οι ημέρες μεταξύ δύο ημερομηνιών για Εμπειροτεχνίτη: <br />
                                Τα μόρια Μ υπολογίζονται ως: Μ = ΜΙΝ((Ν/360) x μ2, WΜΑΧ2).<br />
                                Η παράσταση Ν/360 είναι τα έτη ή κλάσμα έτους που αντιστοιχεί στις Ν ημέρες.
                            </li>
                        </ul>
                    <p /><br />
                </div>
            </text>);
            items.Add()
            .Text("ΟΔΗΓΙΕΣ 5 (ΛΟΙΠΕΣ ΛΕΙΤΟΥΡΓΙΕΣ)")
            .Content(
            @<text>
                <div style="margin-left:6px;margin-right:6px">
                    <p class="sansserif"></p>
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Παραμετρικά Στοιχεία της Εφαρμογής
                            </font>
                        </span>
                        <br />
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.png" style="width:42px;height:42px" />
                        Από το μενού υπάρχει πρόσβαση στα ακόλουθα στοιχεία:
                        <ol>
                            <li>
                                Προκηρύξεις - Παραμετρικά στοιχεία για την κάθε Προκήρυξη
                            </li>
                            <li>
                                Ρυθμίσεις - Παραμετρικά στοιχεία που χρησιμοποιούνται από την Εφαρμογή
                            </li>
                            <li>
                                Στατιστικά - Διάφορα στατιστικά στοιχεία (εκθέσεις) σχετικά με τη μοριοδότηση
                            </li>
                            <li>
                                Πίνακες - Οι Πίνακες Αξιολόγησης των υποψηφίων εκπαιδευτικών
                            </li>
                        </ol>
                    </p>
                    <p class="sansserif">
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                        Τα παραπάνω παραμετρικά στοιχεία είναι μόνο για ανάγνωση. Αλλαγές/προσθήκες στα στοιχεία
                        αυτά μπορούν να γίνουν ΜΟΝΟ από τον λογαριασμό Διαχειριστών.
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                        Οι Πίνακες Κατάταξης είναι οι ακόλουθοι:
                        <ol>
                            <li>
                                Πίνακας 1: Ιδιώτες και Άνεργοι
                            </li>
                            <li>
                                Πίνακας 2: Δημόσιοι Υπάλληλοι και Συνταξιούχοι
                            </li>
                            <li>
                                Πίνακας 3: Άνεργοι
                            </li>
                            <li>
                                Πίνακας 4: Αποκλειόμενοι
                            </li>
                            <li>
                                Πίνακας 5: Προστατευόμενοι του Ν.2190
                            </li>
                        </ol>
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                        Κάθε Πίνακας έχει δύο μορφές:
                        <ul>
                            <li>
                                Για ανάρτηση στις Σχολικές Μονάδες
                            </li>
                            <li>
                                Για ανάρτηση στο Διαδίκτυο
                            </li>
                        </ul>
                    </p>
                    <p /><br />
                </div>
            </text>);
            items.Add()
            .Text("ΟΔΗΓΙΕΣ 6 (ΛΕΙΤΟΥΡΓΙΕΣ ΠΛΕΓΜΑΤΩΝ)")
            .Content(
            @<text>
                <div style="margin-left:6px;margin-right:6px">
                    <p class="sansserif"></p>
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Δυνατότητες Προβολής Δεδομένων
                            </font>
                        </span>
                        <br />
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.png" style="width:42px;height:42px" />
                        Όταν τα δεδομένα εμφανίζονται μέσα σε πλέγματα (πίνακες) έχουμε στη διάθεσή μας ορισμένες
                        χρήσιμες δυνατότητες, οι οποίες είναι:
                        <ol>
                            <li>
                                Ταξινόμηση
                            </li>
                            <li>
                                Ομαδοποίηση
                            </li>
                            <li>
                                Φίλτρα
                            </li>
                        </ol>
                    </p>
                    <p class="sansserif">
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                        Η ταξινόμηση αλλάζει κάνοντας κλικ επάνω στην κεφαλίδα μιας στήλης. Έχουμε τρία είδη
                        ταξινομήσης:
                        <ul>
                            <li>
                                Προεπιλεγμένη ταξινόμηση - αυτή που χρησιμοποιείται από την εφαρμογή. Δεν εμφανίζεται βελάκι στην κεφαλίδα.
                            </li>
                            <li>
                                Αύξουσα ταξινόμηση - εμφανίζεται βελάκι στην κεφαλίδα που δείχνει προς τα επάνω.
                            </li>
                            <li>
                                Φθίνουσα ταξινόμηση - εμφανίζεται βελάκι στην κεφαλίδα που δείχνει προς τα κάτω.
                            </li>
                        </ul>
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                        Η ομαδοποίηση προβάλλει τα δεδομένα σε κατηγορίες που ορίζονται από τις κεφαλίδες των στηλών που
                        θα επιλέξουμε.<br />
                        Ο τρόπος λειτουργίας της ομαδοποίησης παρουσιάζεται με τρία τυπικά παραδείγματα:
                        <ol>
                            <li>
                                Έστω το πλέγμα με τις Αιτήσεις: Εάν ομαδοποιήσουμε με βάση τη στήλη 'Κλάδος-Ειδικότητα' τότε
                                τα δεδομένα κατηγοριοποιούνται/ομαδοποιούνται σύμφωνα με τις τιμές της στήλης αυτής. Έτσι, μπορούμε
                                να έχουμε σε μια ομάδα όλους τους Φιλόλογους, σε άλλη τους Μηχανολόγους κ.λπ.
                            </li>
                            <li>
                                Έστω το πλέγμα με τις Αιτήσεις: Εάν ομαδοποιήσουμε με βάση τις στήλες 'Σχολική Μονάδα', 'Κλάδος-Ειδικότητα'
                                τότε τα δεδομένα ομαδοποιούνται πρώτα ανά Σχολείο, και μετά ανά Ειδικότητα. Έτσι. δημιουργούμε ομάδες
                                δεδομένων μέσα σε άλλη ομάδα.
                            </li>
                            <li>
                                Έστω το πλέγμα με τις Διδακτικές: Εάν ομαδοποιήσουμε με βάση τη στήλη 'Σχολικό Έτος' τότε
                                τα δεδομένα ομαδοποιούνται ανά σχολικό έτος.
                            </li>
                        </ol>
                    </p>
                    <p></p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                        Τα φίλτρα ως προς μια ή περισσότερες στήλες δίνουν τη δυνατότητα εμφάνισης μόνο των δεδομένων
                        που ικανοποιούν τα κριτήρια που εισάγαμε.<br />
                        Για να εισάγουμε ένα κριτήριο σε μια στήλη κάνουμε κλικ στο σύμβολο φίλτρου που υπάρχει σε κάθε
                        κεφαλίδα στήλης. Στη συνέχει ορίζουμε το φίλτρο. Ενδεικτικά, αναφέρουμε τρία παραδείγματα:
                        <ol>
                            <li>
                                Έστω το πλέγμα Αιτήσεων. Αν ορίσουμε το φίλτρο στη στήλη 'Ονοματεπώνυμο' ως:<br />
                                'Αρχίζει από' + "Κ", εμφανίζονται μόνο οι εγγραφές για τις οποίες η στήλη 'Ονοματεπώνυμο'
                                έχει τιμές όπου το πρώτο γράμμα είναι 'Κ' (προσοχή στο ελληνικό Κ και Λατινικό Κ - δεν είναι ίδια.)
                            </li>
                            <li>
                                Έστω το πλέγμα Αιτήσεων. Αν ορίσουμε το φίλτρο στη στήλη 'Κλάδος-Ειδικότητα' ως:<br />
                                'Περιέχει' + "ΜΗΧΑΝ", εμφανίζονται μόνο οι εγγραφές για τις οποίες η στήλη 'Κλάδος-Ειδικότητα'
                                έχει τιμές που περιέχουν το λεκτικό αυτό. Το αποτέλεσμα είναι η προβολή όλων των Μηχανολόγων και Μηχανικών.
                            </li>
                            <li>
                                Έστω το πλέγμα Διδακτικών. Αν ορίσουμε το φίλτρο στη στήλη 'Ημ/νια από' ως:<br />
                                'Μετά από ή ίση με' + "01/01/2010" ΚΑΙ 'Πριν από' + "31/12/2012", εμφανίζονται
                                μόνο οι εγγραφές για τις οποίες η στήλη 'Ημ/νία από' έχει τιμές που ικανοποιούν το κριτήριο αυτό.
                                Το αποτέλεσμα είναι η προβολή όλων των διδακτικών προϋπηρεσιών μεταξύ των δύο ημερομηνιών που ορίσαμε.
                            </li>

                        </ol>
                    </p>
                    <p /><br />
                </div>
            </text>);

        }).ExpandMode(PanelBarExpandMode.Multiple)
        )
    </div>
</body>
